<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/barredenav.css">

    <title>Document</title>
</head>
<body>
        <!-- Barre de navigation -->
        <header>
            <nav>
                <h2>Centre de Formation STF</h2>
                <ol>
                    <li><a href="formations" target="_blank">Formations</a></li>
                    <li><a href="partenaires" target="_blank">Nos Partenaires</a></li>
                    <li><a href="connexion" target="_blank">Se Connecter </a></li>
                    <li><a href="inscription" target="_blank">S'inscrire</a></li>
                    <li><a href="contact" target="_blank">Nous Contacter</a></li>
                    <li><a href="apropos" target="_blank">A propos de nous</a></li>
                </ol>
            </nav>
        </header>
</body>
</html>