<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c9896cdd0f.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <footer>
        <h5>Centre de Formation STF Mayotte</h5>

        <!-- Icônes réseaux sociaux -->
        <i class="fa-brands fa-facebook" width="100px"><a href="#"></a></i> 
        <i class="fa-brands fa-instagram"><a href="#"></a></i>
        <i class="fa-brands fa-x-twitter"><a href="#"></a></i>

        <ol class="myclass">
            <li><a href="contact">Contactez-nous</a></li>
            <li><a href="#">Abonnez vous à notre newsletter</a></li>
            <li><a href="#">Mentions Légales</a></li>
            <li><a href="#">Politique de Confidentialité</a></li>
            <li><a href="#">Gérer les cookies</a></li>
        </ol>

        <br> <br>
        <p class="foot"><span id="footer">"" </span> STF Mayotte. Tout droits réservés©.</p>
        
    </footer>
</body>
</html>