<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
    <title>Document</title>
</head>
<body>
    
    <footer>
        <h5>Centre de Formation STF Mayotte</h5>
        <ol class="myclass">
            <li><a href="#">Abonnez vous à notre Newsletter</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
        </ol>
        <br> <br>
        <p class="foot">2024 STF Mayotte. Tout droits réservés.</p>
    </footer>
</body>
</html>