<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/accueil.css">
    <title>Accueil</title>
</head>
<body>

    <%- include('partials/barrenav') %>
    <main>
        <br> <br>

        <!-- <img src="/images/phraseaccroche.jpg" alt="image1" width="900px" height="600px"> -->
            <br><br>

        <!-- Présentation du centre -->
        <h3>Etudiant? Salarié en reconversion? Vous trouverez ce que vous cherchez ici!</h3>

        <p>Le Centre de Formation STF Mayotte propose des formations diversifiées dans des secteurs 
            clés tels que le web, le digital, le marketing, les ressources humaines, ainsi que le social 
            et la santé. Ces formations visent à développer des compétences pratiques et professionnelles, 
            adaptées aux besoins du marché local, afin de préparer les apprenants à réussir dans un marché 
            en constante évolution. Construisez grâce à des formations innovantes, accessibles à tous les niveaux 
            avec le centre STF Mayotte.</p>
            <br><br><br>

        <!-- Recherche de formation -->
        <h1>Trouvez Votre Formation</h1>
        <div class="divmain">    
        <input type="text" placeholder="Recherchez une formation" class="myinput">
        </div>
        <br> <br> <br> <br> <br>
        <!-- Les différents centres -->
        <h3>Nos centres de formation</h3>
        <p>Notre centre de formation est présent dans plusieurs localités de l'île, 
            pour être toujours au plus près de vous et de vos ambitions.</p>
        <br>
            <img src="/images/mayottemap.gif" alt="mayotte carte" width="500px">
        <br><br>
        <%- include('partials/footer') %>
    </main>
</body>
</html>