<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/apropos.css">
    <title>A propos de nous</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <!-- Présentation du centre -->
    <h1>Le Centre STF Mayotte</h1>

    <img src="/public/img/Capture.PNG" alt="image_equipe">

    <p class="pres">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae dignissimos fuga necessitatibus voluptatum iure cumque est possimus non facere dolores, inventore iste ullam, 
        laborum totam doloremque aperiam, nostrum pariatur. Neque tempore distinctio placeat fugiat deleniti odit pariatur voluptatem error modi provident mollitia, ipsum at tempora 
        cumque culpa. Quis ab enim animi architecto! Soluta accusantium, iste quidem maiores quae magni sunt vitae ea ipsam culpa? Fuga veritatis doloribus dolore excepturi recusandae 
        quia magni beatae optio, aperiam explicabo cum nihil suscipit ea nisi ex, laudantium tempora deleniti tempore pariatur ullam obcaecati. Voluptatem sint qui vero dolor, laudantium 
        ipsam consectetur perspiciatis excepturi aut molestias voluptates saepe consequatur nam expedita! Quibusdam dolorem, provident autem ullam magni minus commodi sequi, quos magnam 
        nam quia. Quam cumque assumenda debitis incidunt, numquam quisquam? Maxime odio iste, officia unde quis corrupti aut non error quibusdam explicabo odit, ex atque perferendis
        modi doloribus facilis, eos consequatur incidunt! Atque, doloremque.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos debitis consequatur neque, et ex non soluta dolorum quaerat commodi nostrum molestiae, distinctio aliquam quasi ea! 
        Molestiae minus deleniti, facere autem eum, tempore ratione id facilis quo incidunt totam. Unde, praesentium ea, ipsum perspiciatis voluptates itaque iste mollitia ducimus minima 
        hic ipsa at tenetur quo ullam impedit incidunt debitis, dolorum explicabo!</p>
        <br> <br> <br>
    <%- include('partials/footer') %>
</body>
</html>