<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/apropos.css">
    <title>A propos de nous</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <!-- Présentation du centre -->

    <main>
        <h1>STF Mayotte</h1>
        <br><br>

        <img src="/images/equipestf.jpg" alt="image_equipe" width="900px" height="500px">

        <br><br> <br> <br>

        <p class="pres">Le Centre de Formation STF Mayotte, fondé en 2016 par Mariama Bacar, s'est engagé à contribuer activement 
            au développement économique et social de Mayotte en offrant des formations professionnelles dans des secteurs 
            en pleine expansion. Son objectif principal est de répondre aux besoins croissants des entreprises locales tout en 
            préparant les apprenants aux défis du marché du travail moderne. STF Mayotte se distingue par son approche innovante 
            et son adaptation aux réalités locales. Mayotte, un territoire en pleine mutation, nécessite des compétences 
            spécifiques dans des domaines stratégiques tels que le web, le digital, le marketing, les ressources humaines, 
            ainsi que le secteur social et la santé. En proposant des formations de qualité dans ces secteurs, le centre 
            offre aux jeunes et aux adultes une opportunité de se qualifier pour des emplois locaux ou internationaux, tout en 
            renforçant la compétitivité économique de l'île. Les formations proposées couvrent un large éventail de domaines, 
            à commencer par le web et le digital, où les apprenants acquièrent des compétences en développement web, gestion 
            de projets numériques, et utilisation des outils numériques essentiels dans le monde professionnel d'aujourd'hui. 
            En marketing, le centre propose des formations en marketing digital, stratégie de marque, ainsi que gestion des
            réseaux sociaux et des campagnes publicitaires en ligne. Le secteur des ressources humaines est également une 
            priorité avec des programmes axés sur la gestion des talents, le recrutement, la gestion des conflits, ainsi que
            le développement des compétences. Enfin, les formations dans le domaine social et santé permettent aux 
            participants de se spécialiser dans l'accompagnement des personnes vulnérables, la gestion des structures sanitaires 
            et sociales, et la prise en charge des enjeux sociaux de la population. Le Centre de Formation STF Mayotte se veut un 
            acteur clé dans l'accompagnement des professionnels de demain, avec une forte volonté de contribuer à la croissance durable 
            et à l'épanouissement social de Mayotte. A ce jour nous avons des centres ouverts dans 12 communes sur les 17 communes de Mayotte. 
            En favorisant l'accès à des formations adaptées aux besoins spécifiques du territoire, le centre permet à ses apprenants de s'épanouir et de participer pleinement au développement de l'île proche de chez eux. 
            </p>
            
        </main>

        <br> <br> <br>
            <br> <br> <br>


    <%- include('partials/footer') %>
</body>
</html>