<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/apropos.css">
    <title>A propos de nous</title>
</head>
<body>
    <%- include('partials/barredenav') %>
    <h3>Le Centre STF</h3>
    <%- include('partials/footer') %>
</body>
</html>