<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/connexion.css">

    <title>Se Connecter</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <div class="formulaire">
        <h3>Connectez-vous</h3>
        
        <!-- Formulaire Connexion -->
<form>
    <label for="">Adresse Mail</label>
    <input type="text" placeholder="Adresse Mail" required>
    <br>
    <label for="">Mot De Passe</label>
    <input type="password" placeholder="Mot de passe" required>
    <br> <br>
    <button>Se Connecter</button>
    <br> <br>
    <p>Vous n'avez pas de compte? Inscrivez vous <a href="inscription" target="_blank" >ici</a></p>
</form>
</div>
    <%- include('partials/footer') %>
    
</body>
</html>