<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <title>Nous contacter</title>
</head>
<body>
    <%- include('partials/barrenav') %>
   <div class="contact">
     <h3>Contactez-nous:</h3>
    <ol>
        <li>Notre Adresse mail: <a href="mailto:contact.cstf@gmail.com">contact.cstf@gmail.com</a></li>
        <br>
        <li>Mariama Bacar (Directrice du centre): <a href="mailto:mariamabacar123@hotmail.fr">mariamabacar123@hotmail.fr</a></li>
        <br>
        <li>Notre Numéro<a href="tel:+269777888">0269777888</a></li>
        <br>
        <li>Notre Adresse Postale: 72 rue du Collège, 97600 Mamoudzou</li>
    </ol>
<br>

    <h3>Nos réseaux sociaux:</h3>
    <ol>
        <li>Facebook<a href="http://" target="_blank"></a></li>
        <li>Instagram<a href="http://" target="_blank"></a></li>
        <li>Twitter<a href="http://" target="_blank"></a></li>
    </ol>
</div>
    <%- include('partials/footer') %>
</body>
</html>