<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <title>Nous contacter</title>
</head>
<body>
    <%- include('partials/barrenav') %>
   <div class="contact">
     <h3>Contactez-nous:</h3>
     <br>
     <!-- Moyens de contact -->
    <ol class="pagedecontact">
        <li>Notre Adresse mail: <a href="mailto:contact.stfmayotte@gmail.com">contact.stfmayotte@gmail.com</a></li>
        <br>
        <li>Mariama Bacar (Directrice du centre): <a href="mailto:mariamabacar123@hotmail.fr">mariamabacar123@hotmail.fr</a></li>
        <br>
        <li>Notre Numéro: <a href="tel:+262777888">0269-77-78-88</a></li>
        <br>
        <li>Notre Adresse Postale: <a href="#">72 rue STF, 97600 Mamoudzou</a></li>
    </ol>
<br> <br>

    <!-- Horaires  -->
    <h3>Horaires d'ouverture et fermeture:</h3>
    <br>
    <ol class="pagedecontact">
        <li>Lundi-Jeudi: 8-16h30</li>
        <li>Vendredi: 8-15h</li>
        <li>Samedi: 8-12h</li>
        <li>Dimanche: Fermé</li>
    </ol>
<br> <br>

    <!--Réseaux Sociaux  -->
    <h3>Nos réseaux sociaux:</h3>
    <br>
    <section class="pagedecontact">
        <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook">Facebook</i></a>
        <br><br>
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram">Instagram</i></a>
        <br><br>
        <a href="https://twitter.com/?lang=fr" target="_blank"><i class="fa-brands fa-x-twitter">Twitter</i></a>
    </section>
</div>
    <%- include('partials/footer') %>
</body>
</html>