<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/formations.css">
    <title>Nos Formations</title>
</head>
<body>
    <%- include('partials/barrenav') %>
<h1>Découvrez toutes nos formations</h1>

<!-- Liste formations -->

<div class="mydiv">
<h3>Informatique:</h3>

<ul class="formations">
    <% resultat.forEach (f => { %>

        <li> <%= f.nom_formation %>  <%=f.niveau_formation %> </li>

    <% }) %>
</ul>

<h3>Marketing:</h3>
<ul class="formations">
    <li><a href="#">Chargé de Marketing et Communication (Bac+3)</a></li>
    <li><a href="#">Responsable marketing et commercial (Bac+5)</a></li>
    <li><a href="#">Consultant marketing (Bac+5)</a></li>
    <li><a href="#">Chargé de clientèle (Bac+3)</a></li>
    <li><a href="#">Community Manager (Bac+3)</a></li>
</ul>

<h3>Ressources Humaines:</h3>
<ul class="formations">
    <li><a href="#">Directeur des Ressources Humaines (Bac+5)</a></li>
    <li><a href="#">Secrétaire des Ressources Humaines (Bac+2)</a></li>
    <li><a href="#">Gestionnaire de Paie (Bac+3)</a></li>
</ul>

<h3>Social et Santé:</h3>
<ul class="formations">
<li><a href="#">Assistant Social (Bac+3)</a></li>
<li><a href="#">ATSEM (Bac+3)</a></li>
<li><a href="#">Educateur Spécialisé (Bac+2)</a></li>
<li><a href="#">Sécrétaire Médical (Bac+2)</a></li>
<li><a href="#">Technicien d'Information Médical (Bac+2)</a></li>
</ul>
<br><br><br><br>
</div>
<%- include('partials/footer') %>

</body>