<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/inscription.css">
    <title>S'inscrire</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <h4 class="inscription">Inscrivez-vous:</h4>

    <!-- Formulaire Inscription -->
     <div class="form-container">
    <form id="form" action="/new" method="post">
      <input type="hidden" name="id" id="id">
        <label for="nom">Nom:</label>
        <input type="text" placeholder="Nom" id="nom" required>
        <br>
        <label for="prenom">Prénom:</label>
        <input type="text" placeholder="Prénom" id="prenom" required>
        <br> 
        <label for="adressemail">Adresse Mail:</label>
        <input type="text" placeholder="Adresse Mail" id="mail" required>
        <br>
        <label for="date">Date de naissance:</label>
        <input type="date" id="datedenaissance">
        <br>
        <label for="genre">Genre:</label>
        <!-- option situation professionelle -->
        <select name="select" id="genre"> 
          <option value="Femme">Femme</option>
          <option value="Homme" >Homme</option>
        </select>

        <label for="numero">Numéro de téléphone:</label> 
        <input type="number" placeholder="Numéro de Téléphone" id="numero">
        <br> 
        <label for="diplome">Dernier diplôme obtenu:</label> 
        <input type="text" placeholder="Nom complet du diplôme" id="diplome">
        <br>

        <label for="situationpro">Situation professionelle:</label>
        <!-- option situation professionelle -->
        <select name="select" id="situationpro"> 
            <option value="etudiant">Etudiant(e)</option>
            <option value="salarie" >Salarié(e)</option>
            <option value="entrepreneur">Entrepreneur(se)</option>
            <option value="chomeur">Chômeur(se)</option>
            <option value="autre">Autre</option>
          </select>
          <br>
          <label for="">Créez un mot de passe:</label> 
        <input type="password" placeholder="Mot de passe" id="password">
        <br>
          <button>Enregistrer</button>
          <br> <br>
          <p>Vous avez déjà un compte? Connectez vous <a href="connexion" target="_blank" >ici</a></p>
    </form>
<br> <br> <br>
<br><br> 
</div>

  <%- include('partials/footer') %>
</body>

