<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/partenaires.css">

    <title>Nos Partenaires</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <h1>Nos Partenaires</h1>
    <br>
    <div class="partenaires">
    <h3>Le Conseil Départemental</h3>
    <p>Le Conseil Départemental de Mayotte est un partenaire privilégié de STF Mayotte depuis sa création en 2016. 
        Grâce à ce partenariat, le centre bénéficie d'un soutien essentiel pour offrir des formations adaptées aux besoins 
        du territoire. Le Conseil Départemental participe activement au développement des compétences locales, contribuant 
        ainsi à la professionnalisation de la main-d'œuvre et à l'insertion des jeunes dans des secteurs clés pour l'avenir de l'île.</p>
    <br>
    <h3>Le CHM</h3>
    <p>Le Centre Hospitalier de Mayotte est un partenaire clé de STF Mayotte. 
        Ce partenariat permet de développer des formations spécialisées dans le secteur de la santé et du social, répondant 
        aux besoins croissants de professionnels qualifiés. Le CHM soutient activement la formation et l'insertion des apprenants, 
        contribuant à l'amélioration des soins et à la gestion des structures sanitaires de l'île.</p>
    <br>
    <h3>Le Carif-Oref</h3>
    <p>Depuis plusieurs années, le Carif-Oref est un partenaire essentiel du Centre de Formation STF Mayotte. Ce partenariat contribue 
        activement à l'orientation, l'information et l'accompagnement des apprenants dans leur parcours de formation. En collaboration 
        avec le Carif-Oref, STF Mayotte bénéficie d'un accès privilégié aux ressources sur les métiers et les formations les plus demandés 
        sur l'île. Le Carif-Oref soutient également le centre dans l'adaptation de ses offres de formation aux besoins du marché local. 
        Ensemble, nouss œuvrons pour améliorer l'accès à la formation professionnelle et favoriser l'insertion des jeunes et des adultes 
        dans des secteurs clés tels que le web, le digital, la santé, le marketing et les ressources humaines.</p>

        <h3>L'ARS</h3>
    <p>L’Agence Régionale de Santé est un partenaire stratégique de STF Mayotte depuis plusieurs années. 
        Leur collaboration permet de renforcer la qualité de la formation dans le secteur de la santé, un domaine essentiel pour le 
        développement de l'île. L’ARS soutient STF Mayotte dans l’adaptation de ses programmes de formation aux besoins spécifiques 
        du territoire, en particulier dans un contexte de développement sanitaire constant à Mayotte.
        Ce partenariat permet de répondre aux enjeux de santé publique en formant des professionnels compétents, capables de prendre 
        en charge les défis locaux, notamment dans le domaine de l’accompagnement social et de la prise en charge des personnes vulnérables. 
        Grâce à l’ARS, le centre bénéficie de l’expertise et des ressources nécessaires pour offrir des formations en phase avec les priorités 
        régionales et les standards du secteur. De plus, l’ARS participe activement à l’accompagnement des stagiaires et à l’orientation 
        professionnelle, facilitant ainsi l’insertion des apprenants dans les établissements de santé locaux. Ce partenariat est essentiel 
        pour répondre à la demande croissante de professionnels qualifiés dans le secteur de la santé et pour garantir l’amélioration continue 
        de la qualité des soins à Mayotte. Ensemble, l’ARS et STF Mayotte contribuent à la professionnalisation et au développement de l'île.</p>

    </div>
    <%- include('partials/footer') %>
    
</body>
</html>