<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/partenaires.css">

    <title>Nos Partenaires</title>
</head>
<body>
    <%- include('partials/barredenav') %>
    <h1>Nos Partenaires</h1>
    <br>
    <h3>Conseil</h3>
    <h3>Conseil</h3>
    <h3>Conseil</h3>
    
    <%- include('partials/footer') %>
    
</body>
</html>