<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/partenaires.css">

    <title>Nos Partenaires</title>
</head>
<body>
    <%- include('partials/barrenav') %>
    <h1>Nos Partenaires</h1>
    <br>
    <div class="partenaires">
    <h3>Le Conseil Départemental</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum assumenda nesciunt eveniet quaerat praesentium 
        labore perspiciatis voluptas, illum nostrum? Tempore eligendi reprehenderit debitis, dicta soluta placeat 
        illo a similique necessitatibus non obcaecati, cupiditate iusto asperiores? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Ut voluptatibus et pariatur soluta inventore quibusdam enim veniam, illum natus earum! At harum, tempora aut consequatur, maiores qui 
        quidem error in porro esse quae ipsam eum debitis culpa? Repellat error aliquid inventore laudantium tenetur repellendus eveniet voluptatem 
        officia ex. Sapiente, quia? Fuga nesciunt architecto dicta asperiores voluptas. Expedita debitis corrupti molestiae magnam velit in mollitia 
        pariatur quos suscipit optio qui, ad numquam accusantium ut consequatur! Maiores accusantium reiciendis dicta enim, asperiores error quisquam 
        esse corrupti consectetur aperiam?</p>
    <br>
    <h3>Le CHM</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime dolores quos tenetur nesciunt ducimus natus sed cum optio sequi quis et, blanditiis totam
         a itaque explicabo doloribus cupiditate, delectus doloremque libero. Hic harum commodi dolorem? Quam sequi iusto autem exercitationem similique cupiditate suscipit nostrum fuga?
         Tempora dicta pariatur quisquam, velit laboriosam dolore distinctio iste consequuntur aut consectetur voluptates possimus 
         aspernatur nobis maiores molestias architecto explicabo odit temporibus vero beatae laborum corrupti aperiam animi eum. Neque voluptate mollitia, 
         inventore deleniti fuga ratione adipisci nam voluptatem cum, expedita nobis.</p>
    <br>
    <h3>Le Carif-Oref</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore at voluptates quaerat optio praesentium, obcaecati dolor. Vero totam natus in quia ipsam, cumque fugiat 
        quaerat quo dicta explicabo. Enim, eius.  Autem explicabo delectus ipsam fugit voluptate. Ratione, cumque enim voluptates suscipit aliquam molestiae 
        dolores incidunt unde laudantium, optio ea aut, iste amet accusamus dicta nisi doloribus recusandae labore quisquam architecto distinctio! 
        Totam sunt itaque quia porro in dolor perspiciatis quidem. Sequi omnis, corrupti nihil cumque eaque voluptate illum totam ipsam placeat nesciunt 
        qui laboriosam, eveniet perferendis enim. Iusto ipsam animi officiis dolores consequuntur alias? Possimus ullam, reprehenderit veniam eius quam 
        ipsum autem esse nihil hic nulla obcaecati eveniet consectetur sequi labore facere sint voluptate? Deleniti ad maxime unde, necessitatibus dolorum 
        repellendus enim hic excepturi?  Adipisci facilis sed sunt unde, natus quae ipsa distinctio quasi laudantium 
        id maiores suscipit labore nemo ea cum?</p>

        <h3>L'ARS</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem labore at voluptates quaerat optio praesentium, obcaecati dolor. Vero totam natus in quia ipsam, cumque fugiat 
        quaerat quo dicta explicabo. Enim, eius.  Autem explicabo delectus ipsam fugit voluptate. Ratione, cumque enim voluptates suscipit aliquam molestiae 
        dolores incidunt unde laudantium, optio ea aut, iste amet accusamus dicta nisi doloribus recusandae labore quisquam architecto distinctio! 
        Totam sunt itaque quia porro in dolor perspiciatis quidem. Sequi omnis, corrupti nihil cumque eaque voluptate illum totam ipsam placeat nesciunt 
        qui laboriosam, eveniet perferendis enim. Iusto ipsam animi officiis dolores consequuntur alias? Possimus ullam, reprehenderit veniam eius quam 
        ipsum autem esse nihil hic nulla obcaecati eveniet consectetur sequi labore facere sint voluptate? Deleniti ad maxime unde, necessitatibus dolorum 
        repellendus enim hic excepturi?  Adipisci facilis sed sunt unde, natus quae ipsa distinctio quasi laudantium 
        id maiores suscipit labore nemo ea cum?</p>

    </div>
    <%- include('partials/footer') %>
    
</body>
</html>