/* body */
body{
    background-color: #242582;
    color: #f1f1f1;
    font-family: Cantarell;

}

/* main */
main{
    display: grid;
    place-items: center;
    height: 100vh;
}

/* image */
img {
    max-width: 100%;
    height: auto;
}

/* h3 */
h3{
    font-size: x-large;
    color: #F64c72;
}

/* phrase d'accroche */
p{
    text-align: center;
    font-size: larger;
    padding-left: 100px;
    padding-right: 100px;
}

/* h1 */
h1 {
    margin-bottom: 20px; /* Ajoute un peu d'espace sous le titre */
    color: #F64c72;
}

/* input */
.divinput{
    display: flex;
    justify-content: center;
}

.myinput{
width: 300px; /*largeur */
padding: 15px 20px; /* Augmente le padding */
}

input {
    font-family: Cantarell;
    font-size: 20px;
    border: 2px solid #f1f1f1; /* Bordure */
    border-radius: 5px;
    text-align: center; /* Centrer le texte à l'intérieur de l'input */
}

/*effet focus*/
input:focus {
    background-color: #eeeef8; /* Change de couleur */
    outline: none; /* Supprime l'outline noire par défaut */
}