* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cantarell;
}

header {
    background-color: #65CCB8;
    color: #182626;
    padding: 10px 20px;
    display: flex; /* Utilisation de flexbox pour la disposition */
    justify-content: space-between; /* Espacement entre les deux listes */
    align-items: center; /* Aligne les éléments verticalement */
}

/* Suppression des puces et marges pour la liste ordonnée */
ol, ul {
    list-style: none; /* Supprime les puces */
    margin: 0; /* Supprime la marge */
    padding: 0; /* Supprime le padding */
    display: flex; /* Alignement horizontal */
}

/* Espacement entre les éléments de la liste */
ol li, ul li {
    margin-right: 20px; /* Espacement entre les éléments de la liste */
}

/* Style des liens */
ol li a, ul li a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #182626; /* Couleur du texte */
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s; /* Animation lors du survol */
}

/* Effet de survol */
ol li a:hover, ul li a:hover {
    color: #FFD700; /* Couleur au survol */
}

