/*body*/
body {
    font-family: Cantarell;
}

/* header */
header {
    background-color: #242582; /*couleur de fond*/
    color: #f1f1f1; /*couleur de la police*/
    padding: 10px 20px; /*padding haut bas*/
    display: flex; /* disposition horizontale*/
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Alignement vertical des éléments */
}

/* h2 */
h2 {
    margin-right: 20px; /*Espace entre le titre et les listes */
    flex-shrink: 0; /* Empêche le titre de rétrécir */
    color: #F64c72; /*couleur titre*/
}

/* barre de navigation */
nav {
    display: flex; /* Utilise Flexbox pour les listes */
    justify-content: space-between; /* Espace entre les deux listes */
    width: 100%; /* Assure que les deux listes occupent toute la largeur */
}

/* Listes */
.liste {
    background-color: #242582;
    margin : auto;
}

.liste{
    list-style: none; /* Supprime les puces et numéro */
    gap: 20px; /*espace entre les éléments*/
    padding: 0;
    display: flex;  /*Alignement horizontal */
}

ol li, ul li {
    margin-right: 30px; /* Espace entre les éléments de la liste */
}

/*liens */
.liste a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #f1f1f1; /* Couleur police*/
    font-weight: bold; /* Texte en gras */
    transition: color 0.3s; /* Animation lors du survol */
}

#droite {
    gap: 0px; /*espace*/
}


ol li a:hover, ul li a:hover {
    color: #F64c72;/* Chagement de couleur au survol */
}


ol li a:active, ul li a:active {
    transform: scale(0.9); /* effet click */
}

/*Bordure inscription*/
ul li.inscription {
    border: 2px solid #F64c72; /* Bordure */
    border-radius: 5px; /* Coins arrondis */
    background-color: #F64c72; /* Fond de la même couleur que la bordure */
    padding: 10px 20px; /* Espace autour du texte */
    color: white; /* Couleur du texte*/
    font-weight: bold; /* Texte en gras*/
    text-align: center; /*texte au centre */
}

ul li.inscription:hover {
    background-color: white; /* Fond blanc au survol */
    color: #F64c72; /* Couleur du texte change au survol */
}

/* Bordure connexion */
ul li.connexion {
    border: 2px solid #F64c72;
    border-radius: 5px;
    background-color: #242582;
    padding: 10px 20px; /* Espace autour du texte */
    color: #F64c72; /* Couleur du texte*/
    font-weight: bold; /* Texte en gras*/
    text-align: center; /*texte au centre */
}

ul li.connexion:hover {
    background-color: white; /* Fond blanc au survol */
}

