/* body */
body{
    background-color: #242582;  /* Couleur de fond */
    display: flex;
    flex-direction: column;  /*disposition verticalement */
    height: 100vh;  /* Hauteur de la fenêtre */
    margin: 0;  /* Retire les marges par défaut */
}

/* h3 */
h3{
    text-align: center;
    color: #f1f1f1;
    font-size: x-large;
    margin-bottom: 20px;  /* Espacement sous le titre */
}

/* formulaire */
form {
    background-color: #f12350;
    padding: 20px;
    border-radius: 10px;
    width: 80%;  /* Largeur du formulaire */
    max-width: 500px;  /* Largeur maximale du formulaire */
    margin-bottom: 30px;  /* Réduit l'espace sous le formulaire */
    text-align: center;
  }

  .formulaire {
    display: flex;
    flex: 1;  /* Prend tout l'espace disponible entre le header et le footer */
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  
/*input  */
  input{
    font-family: Cantarell;
    font-size: 10px;
    padding: 10px;
    width: 95%;
    margin: 10px 0;  /* Espacement entre les éléments */
    border: 1px solid #ccc;  /* Bordure*/
    border-radius: 5px;  /* Coins arrondis */
  }

  button {
    font-family: Cantarell;
    font-size: 10px;
    background-color: #2F2FA2;  /* Couleur du bouton */
    color: #fff;  /* Couleur du texte */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  /* Curseur survol */
    transition: background-color 0.3s ease;
  }

  button:active{
    transform: scale(0.9); /* effet click */
  }