/*body*/
body{
    background-color: #242582;
    color: #f1f1f1;
    font-family: Cantarell;
}

/*h3*/
h3{
    font-size: xx-large;
    text-decoration: underline;
}

/*liste*/
.pagedecontact{
    font-size: x-large;
    list-style: none;
    color: #242582;
}

/* liens */
ol li a {
    text-decoration: underline;
    color: #242582;
}

/*Div*/
.contact {
    border: #f1f1f1 solid 1px;
    border-width: 100px;
    color: #242582;
    background-color: #f1f1f1;
    padding: 20px;
}
