body{
    background-color: #242582;
    color: #f1f1f1;
    font-family: Cantarell;
}

h3{
    font-size: xx-large;
}

.pagedecontact{
    font-size: x-large;
    list-style: none;
}

ol li a {
    text-decoration: underline;
    color: #242582;
}

.contact {
    border: #f1f1f1 solid 1px;
    border-width: 100px;
    color: #242582;
    background-color: #f1f1f1;
    padding: 20px;
} 
