<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    font-family: Cantarell;
    background-color: #a3a3dd;
    color: #060606;
    padding: 20px;
    text-align: center;  /* Centre le texte dans le footer */
    width: 100%;  /* Assure que le footer occupe toute la largeur */
}
=======
footer{
    background-color: #3B945E;
    color: #f2f2f2
}

>>>>>>> origin
