
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    font-family: Cantarell;
    background-color: #a3a3dd;
    padding: 20px;
    text-align: center;  /* Centre le texte dans le footer */
    width: 100%;  /* Assure que le footer occupe toute la largeur */
}

h5{
    color: #060606;
    font-size: medium;
}

.foot{
    color: #060606;
}

i{
    color: black;
}

.myclass{
    list-style: none;
}

.myclass li a {
    color: #060606;
    text-decoration: underline;
    font-weight: bold;
}


