/* Réinitialisation des marges et du padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body*/
body {
    background-color: #242582;  /* Couleur de fond */
    color: #f1f1f1;  /* Couleur du texte */
    font-family: Cantarell;  /* Police*/
    justify-content: center; /* Centrer horizontalement */
    align-items: center;  /* Centrer verticalement */
    height: 100vh;  /* Hauteur de la fenêtre */

}
/*h4*/
h4{
    text-align: center;
    color:#f1f1f1 ;
    font-size: x-large;
}

/* Formulaire */
.form-container {
    display: flex; /*Aligner*/
    justify-content: center;  /* Centrer */
    align-items: center;  
    padding-top: 45px;  /*Espace au-dessus du formulaire */
    padding-bottom: 55px;  /*Espace en-dessous du formulaire */
  }
  
form {
    background-color: #f12350;  /* Fond*/
    padding: 20px;  /*padding interne */
    border-radius: 10px; /* arrondi */
    width: 80%;  /* Largeur*/
    max-width: 650px;  /* Largeur maximale*/
    margin-bottom: 30px;  /*espace sous le formulaire */
    text-align: center;
}
  
  input, select {
    font-family: Cantarell;
    font-size: 10px; /*taille de la police*/
    padding: 10px;
    width: 95%; /* Prend toute la largeur de son conteneur */
    margin: 10px 0; 
    border: 1px solid #ccc;  /* Bordure */
    border-radius: 5px;
  }
  
  button {
    font-family: Cantarell;
    font-size: 10px;
    background-color: #2F2FA2;  /* Couleur du bouton */
    color: #fff;  /* Couleur du texte */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;  /* Curseur survol */
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #a3a3dd;
  }

  button:active{
    transform: scale(0.9); /* effet click */
  }
